<script setup lang="ts">
import { useRouter, type RouteLocationRaw } from 'vue-router'
import { ref } from 'vue'
const router = useRouter()
const items = ref([
  { title: 'จัดการข้อมูล', route: '/profilemanage' },
  { title: 'ตะกร้า', route: '/cartlist' },
  { title: 'หนังสือที่ชอบ', route: '/favorite' },
  { title: 'คลังหนังสือ', route: '/library' },
  { title: 'ตั้งค่า', route: '/setting' },
  { title: 'ออกจากระบบ', route: '/logout' }
])
const handleMenuItemClick = (item: { route: RouteLocationRaw }) => {
  router.push(item.route)
}
</script>

<template>
  <v-app-bar color="#1E68AD">
    <v-btn to="/" size="230">
      <v-avatar size="230"> 
        <v-img src="/public/logoV2.png" style="width: 230px;"></v-img>
      </v-avatar>
    </v-btn>
    <v-avatar image="user.png" size="40" style="margin-left: 75%"></v-avatar>
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn rounded variant="flat" color="white" v-bind="props" style="font-family: 'Tahoma'">
          Miss Bee
          <v-icon>mdi-menu-down</v-icon>
        </v-btn>
      </template>
      <v-list class="white--text rounded-t-xl rounded-b-xl" style="font-family: 'Tahoma'">
        <v-list-item v-for="(item, index) in items" :key="index" @click="handleMenuItemClick(item)">
          <div class="d-flex">
            <v-list-item-title class="pl-2">{{ item.title }}</v-list-item-title>
          </div>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>
