<script setup lang="ts">
import LoginDialog from '@/views/customer/LoginDialog.vue'
import { useCategoryStore } from '@/stores/category'
import { computed, onMounted, ref } from 'vue'
import { useEbookStore } from '@/stores/ebook';
import { useCustomerStore } from '@/stores/customer';
const tab = ref(2);

const categoryStore = useCategoryStore()

const ebookStore = useEbookStore();
onMounted(async () => {
  
  await categoryStore.getCategories();
  await ebookStore.getEbooksByCategory(tab.value);

})



const customerStore = useCustomerStore()
const loginEmail = ref("");
const isLogin = computed(() => {
  return loginEmail.value !== ""
})

const login = (email : string): void => {
  loginEmail.value = email;
  // localStorage.getItem("loginEmail", email);
}
const loadData = () => {
  loginEmail.value = localStorage.getItem("loginEmail") || "";
};

</script>
<template>
  <LoginDialog></LoginDialog>
  <v-app-bar v-if="!isLogin" @login="login" color="#1E68AD" style="height: 65px" scroll-behavior="elevate">
    <v-spacer></v-spacer>
    <v-btn style="margin: 40px" @click="customerStore.dialogLogin = true">เข้าสู่ระบบ</v-btn>
  </v-app-bar>
  <v-app-bar scroll-behavior="elevate">
    <img src="/public/Ebook.png" style="width: 230px; margin: 30px" />
    <v-text-field
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
      rounded="xl"
      style="max-width: 25%; margin: 22%"
      class="mr-0"
    ></v-text-field
    ><v-btn rounded="xl" style="background-color: #1E68AD; color: aliceblue; margin-left: 8px;">ค้นหา</v-btn>
  </v-app-bar>
  
</template>
