<script setup lang="ts">
import LoginDialog from '@/views/customer/LoginDialog.vue'
import { useCategoryStore } from '@/stores/category'
import { computed, onMounted, ref } from 'vue'
import { useEbookStore } from '@/stores/ebook';
import { useRouter, type RouteLocationRaw } from 'vue-router';
import { useLoginStore } from '@/stores/login'
const loginStore = useLoginStore();

const tab = ref(2);

const categoryStore = useCategoryStore()

const ebookStore = useEbookStore();
onMounted(async () => {
  await categoryStore.getCategories()
  await ebookStore.getEbooksByCategory(tab.value);
})

const router = useRouter();
const items = ref([
  { title: 'จัดการข้อมูล', route: '/profilemanage' },
  { title: 'ตะกร้า', route: '/cartlist' },
  { title: 'หนังสือที่ชอบ', route: '/favorite' },
  { title: 'คลังหนังสือ', route: '/library' },
  { title: 'ตั้งค่า', route: '/setting' },
  { title: 'ออกจากระบบ', route: '/' },
]);
const handleMenuItemClick = (item: { route: RouteLocationRaw; }) => {
  if (item.route === '/') {
    loginStore.logout(); // Call the logout function if the route is '/logout'
  } else {
    router.push(item.route); // Redirect to the clicked route
  }
  router.push(item.route);
};

const logout = () =>{
  loginStore.logout();
}
</script>
<template>
  <!-- v-if="isLogin" -->
  <!-- <LoginDialog></LoginDialog>  -->
  <v-app-bar  color="#1E68AD">
    <v-avatar image="user.png" size="40" style="margin-left: 90%"></v-avatar>
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn rounded variant="flat" color="white" v-bind="props" style="font-family: 'Tahoma'">
          Miss Bee
          <v-icon>mdi-menu-down</v-icon>
        </v-btn>
      </template>
      <v-list class="white--text rounded-t-xl rounded-b-xl" style="font-family: 'Tahoma'">
        <v-list-item v-for="(item, index) in items" :key="index" @click="handleMenuItemClick(item)">
          <div class="d-flex">
            <v-list-item-title class="pl-2">{{ item.title }}</v-list-item-title>
          </div>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
  
  <v-app-bar scroll-behavior="elevate">
    <img src="/public/Ebook.png" style="width: 230px; margin: 30px" />
    <v-text-field
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
      rounded="xl"
      style="max-width: 25%; margin: 22%"
      class="mr-0"
    ></v-text-field
    ><v-btn rounded="xl" style="background-color: #1E68AD; color: aliceblue; margin-left: 8px;">ค้นหา</v-btn>
  </v-app-bar>
  
</template>
