<script setup lang="ts">
import CartHeader from '@/components/headers/CartHeader.vue'
import { useCartStore } from '@/stores/cart'
import { useEbookStore } from '@/stores/ebook'
import { computed, onMounted } from 'vue'
const cartStore = useCartStore()
const ebookStore = useEbookStore()

onMounted(async () => {
  await cartStore.getCarts()
  await ebookStore.getEbooks()
})

const groupedCartItems = computed(() => {
  const items = cartStore.carts.flatMap((cart) => cart.cartItems)
  const result = []
  for (let i = 0; i < items.length; i += 6) {
    result.push(items.slice(i, i + 6))
  }
  return result
})
</script>

<template>
  <v-layout id="pdf-container">
    <CartHeader />
    <v-card
      style="width: 1980px; height: max-content; margin-top: 5%"
      class="d-flex align-center justify-center"
      flat
    >
      <v-container fluid>
        <v-row>
          <v-col>
            <h1>คลังหนังสือ</h1>
            <v-divider :thickness="2" inset></v-divider>
          </v-col>
        </v-row>

        <v-row v-for="(rowItems, rowIndex) in groupedCartItems" :key="rowIndex">
          <v-container>
            <v-row style="height: max-content; width: 1300px; margin-left: 250px">
              <v-col v-for="cartItem in rowItems" :key="cartItem.id" cols="2">
                <v-card
                  class="pa-2 justify-center text-center"
                  style="height: 325px; width: 202px"
                  @click="cartStore.openPdf(cartItem)"
                >
                  <v-img
                    :src="`http://localhost:3000/ebooks/image/${cartItem.imageCover}`"
                    style="height: 228px; width: 200px"
                  ></v-img>

                  <v-row style="height: 40px; width: 155px">
                    <v-card-text
                      style="
                        text-align: left;
                        padding-top: 10%;
                        font-size: 13px;
                        font-family: 'Tahoma';
                      "
                      >{{ cartItem.name }}</v-card-text
                    >
                  </v-row>
                  <v-row style="height: 10px; width: 155px">
                    <v-card-text
                      style="
                        text-align: left;
                        padding-top: 8%;
                        font-size: 11px;
                        font-family: 'Tahoma';
                      "
                      >{{ cartItem.author }}</v-card-text
                    >
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-row>
      </v-container>
    </v-card>
  </v-layout>
</template>

<!-- <template>
  <v-layout>
    <CartHeader />
    <v-card
      style="width: 1980px; height: max-content; margin-top: 5%"
      class="d-flex align-center justify-center"
      flat
    >
      <v-container fluid>
        <v-row>
          <v-col>
            <h1>คลังหนังสือ</h1>
            <v-divider :thickness="2" inset></v-divider>
          </v-col>
        </v-row>
        <v-row>
          <v-col v-for="item in cartStore.carts" :key="item.id">
            <v-container>
              <v-row style="height: max-content; width: 1300px; margin-left: 250px">
                <v-col v-for="cartItem in item.cartItems" :key="cartItem.id" cols="2">
                  <v-card
                    class="pa-2 justify-center text-center"
                    style="height: 325px; width: 202px; margin-right: 16px"
                  >
                    <v-img
                      :src="`http://localhost:3000/ebooks/image/${cartItem.imageCover}`"
                      style="height: 228px; width: 200px"
                    ></v-img>
  
                    <v-row style="height: 40px; width: 155px">
                      <v-card-text
                        style="
                          text-align: left;
                          padding-top: 10%;
                          font-size: 13px;
                          font-family: 'Tahoma';
                        "
                        >{{ cartItem.name }}</v-card-text
                      >
                    </v-row>
                    <v-row style="height: 10px; width: 155px">
                      <v-card-text
                        style="
                          text-align: left;
                          padding-top: 8%;
                          font-size: 11px;
                          font-family: 'Tahoma';
                        "
                        >{{ cartItem.author }}</v-card-text
                      >
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-layout>
</template> -->

<style scoped>
h1 {
  margin-left: 5%;
  font-size: 30px;
}
</style>
