<script setup lang="ts">
import { useCreditStore } from '@/stores/creditcard'
import SuccessDialog from './SuccessDialog.vue'
const credStore = useCreditStore()
</script>
<template>
  <successDialog />
  <v-dialog v-model="credStore.dialog" persistent width="500">
    <v-card color="#7ABBDF">
      <v-card-title class="text-h5"> ชำระเงินแบบ Credit Card </v-card-title>
      <v-card-text>
        <v-col cols="12">
          <v-text-field bg-color="white" label=" เลขบัตร Credit"></v-text-field>
          <v-text-field bg-color="white" label=" วันหมดอายุ"></v-text-field>
          <v-text-field bg-color="white" label=" เลข CVV"></v-text-field>
          <v-text-field bg-color="white" label=" ชื่อผู้ถือบัตร Credit"></v-text-field>
        </v-col>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="black" variant="text" @click="credStore.dialog = false"> ยกเลิก </v-btn>
        <v-btn color="black" variant="text" @click="credStore.dialog = false"> เสร็จสิ้น </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>./PaymentComDialog.vue
