<script setup lang="ts">
import { useCartStore } from '@/stores/cart'
import { useQrcodeStore } from '@/stores/qrcode'
import { useSuccessStore } from '@/stores/success';
import SuccessDialog from './SuccessDialog.vue';
import { ref } from 'vue'
const orderStore = useCartStore()
const cartStore = useCartStore()
const successStore = useSuccessStore()
const qrcodeStore = useQrcodeStore()
</script>
<template>
  <successDialog />
  <v-dialog v-model="qrcodeStore.dialog" persistent width="auto">
    <v-card color="#7ABBDF">
      <v-card-title class="text-h5"> ชำระเงินแบบ QR Code </v-card-title>
      <v-card-text>
        <v-img :width="400" aspect-ratio="16/9" cover src="qrcode.jpg"></v-img
      ></v-card-text>
      <v-col cols="12"
        ><h2>ราคา {{ cartStore.sumPrice }} บาท</h2>
      </v-col>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="black" variant="text" @click="qrcodeStore.dialog = false"> ยกเลิก </v-btn>
        <v-btn color="black" variant="text" @click="qrcodeStore.dialog = false"> เสร็จสิ้น </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
