<script setup lang="ts">
import { useSuccessStore } from '@/stores/success'

const successStore = useSuccessStore()
</script>
<template>
  <v-dialog v-model="successStore.dialog" persistent width="auto">
    <v-card color="#96D690" style="width: 744px; height: 375px">
      <v-card-text style="text-align: end; color: black" @click="successStore.dialog = false">
        X
      </v-card-text>
      <v-card-text class="justify-center text-center" style="color: black; font-size: 50px;">
        ชำระเงินแบบสำเร็จ
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
