<script setup lang="ts">
import { useEbookStore } from '@/stores/ebook'

import { onMounted } from 'vue'
const ebookStore = useEbookStore()


onMounted(async () => {
  await ebookStore.getEbooks();
})
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="ebookStore.dialog" width="auto" >
      <v-card width="900px" height="600px">
        <v-row></v-row>
        <v-row>
          <v-col>
            <h1 style="text-align: center ; margin-top: 2%;">รายละเอียดหนังสือ</h1>
          </v-col>
        </v-row>

        <v-container>
          <v-row style="margin-top: 1%;" >

            <v-col class="d-flex align-center justify-center" >
              <v-img 
                :src="`http://localhost:3000/ebooks/image/${ebookStore.editedEbook.imageCover}`"
                style="height: 350px; width: 181px ; ;"
              ></v-img>
            </v-col>
            <v-col>
              <v-row style="height: 35px; width: 450px">
                <v-card-text style="text-align: left; padding-top: 5%; font-size: 19px">{{ ebookStore.editedEbook.name }}</v-card-text>
              </v-row>
              <v-row style="height: 10px; width: 450px ">
                <v-card-text style="text-align: left; padding-top: 5%; font-size: 15px">{{ ebookStore.editedEbook.author }}</v-card-text>
              </v-row>
              <v-row style="height: 10px; width: 450px">
                <v-card-text style="text-align: left; padding-top: 15%; font-size: 18px">{{ ebookStore.editedEbook.content }}</v-card-text>
              </v-row>
            </v-col>
          </v-row>
        </v-container>

        <v-row>
          <v-col> </v-col>
        </v-row>
        <v-row>
          <v-col style=" text-align: right;">
            <v-btn :icon="'mdi-heart-outline'" variant="plain" style="width: 27px; height: 33px; font-size: 25px; margin-right: 10px"></v-btn>
            <v-btn style=" font-size: 16px; width: 128px; height: 39px; margin-left: 20px; border-radius: 0" color="#F6EC8A"
              :icon="'mdi mdi-cart-arrow-down'"></v-btn>
            <v-btn style= " font-size: 15px; width: 128px; height: 39px; margin-left: 10px" color="#57C262"
              :to="{ name: 'cartlist' }">{{ ebookStore.editedEbook.price }}บาท</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
