<script setup lang="ts">
import MenuHeader from '@/components/headers/MenuHeader.vue'
import { useCartStore } from '@/stores/cart'
import { useEbookStore } from '@/stores/ebook'
import { onMounted, ref } from 'vue'
import { useCategoryStore } from '@/stores/category'
import EbookDetailDialog from './ebook/EbookDetailDialog.vue'
import HeaderLogin from '@/components/headers/HeaderLogin.vue'
import { useLoginStore } from '@/stores/login'
const loginStore = useLoginStore();

const ebookStore = useEbookStore();
const cartStore = useCartStore();
const tab = ref(1);

const categoryStore = useCategoryStore();

onMounted(async () => {
  loginStore.loadData();
  await ebookStore.getEbooks()
  await categoryStore.getCategories()
  await ebookStore.getEbooksByCategory(tab.value);
})


</script>

<template style="max-width">
  <v-layout>
    <EbookDetailDialog />
    <HeaderLogin v-if="!loginStore.isLogin" ></HeaderLogin>
    <MenuHeader v-if="loginStore.isLogin" @logout="loginStore.logout"/>
    <v-card
      style="width: 1980px; height: max-content; margin-top: 10%"
      class="d-flex align-center justify-center"
      flat
    >
    <v-app-bar color="black" style="height: 45px" scroll-behavior="elevate" fixed-tabs>
    <v-tabs v-model="tab" style="margin-left: 40%">
      <v-tab v-for="item of categoryStore.categories " :key="item.id" :value="item.id" @click="ebookStore.getEbooksByCategory(item.id)" style="height: 45px; font-family: 'Tahoma' ; font-size: 20px;">
        {{ item.name }}
      </v-tab>
    </v-tabs>
  </v-app-bar>
      <v-container >
        <v-row style="height: 230px" >
          <v-col>
            <v-carousel  style="width: 800px; height: 210px; margin-left: 500px ">
              <v-carousel-item src="/public/Summer Sale.png"></v-carousel-item>
              <v-carousel-item src="/public/Summer Sale (1).png"></v-carousel-item>
              <v-carousel-item src="/public/Summer Sale (2).png"></v-carousel-item>
            </v-carousel>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <h1 style="font-family: 'Tahoma' ;">หนังสือแนะนำ</h1>
            <v-divider :thickness="2"></v-divider>
          </v-col>
        </v-row>
       <v-window v-model="tab">
          <v-window-item v-for="item of categoryStore.categories " :key="item.id" :value="item.id">
            <v-container fluid>
            <v-row style="height: max-content; width: 1300px; margin-left: 250px">
          <v-col v-for="item in ebookStore.ebookByCate" :key="item.id" cols="2">
            <v-card class="pa-2 justify-center text-center" style="height: 325px; width: 202px">
              <v-img
                :src="`http://localhost:3000/ebooks/image/${item.imageCover}`"
                style="height: 228px; width: 200px "
                @click="ebookStore.editEbook(item)"
              ></v-img>

              <v-row style="height: 40px; width: 155px ">
                <v-card-text style="text-align: left; padding-top: 10%; font-size: 13px ;font-family: 'Tahoma'">{{
                  item.name
                }}</v-card-text>
              </v-row>
              <v-row style="height: 10px; width: 155px">
                <v-card-text style="text-align: left; padding-top: 8%; font-size:11px ; font-family: 'Tahoma'">{{
                  item.author
                }}</v-card-text>
              </v-row>
              <v-row>
                <v-col style="text-align: left ;padding-top: 10%" >
                  <v-btn
                    :icon="'mdi-heart-outline'"
                    variant="plain"
                    style="width: 20px; height: 20px; margin-left: 35px; margin-right: 10px;"
                  ></v-btn>
                  <v-btn
                    style="width: 45px; height: 25px; margin-left: 0px; border-radius: 0"
                    color="#F6EC8A"
                    :icon="'mdi mdi-cart-arrow-down'"
                    @click="cartStore.addCart(item)"
                  ></v-btn>
                  <v-btn
                    style="width: 45px; height: 25px; margin-left: 10px"
                    color="#57C262"
                    @click="cartStore.addCart(item)"
                    :to="{ name: 'cartlist' }"
                    >{{ item.price }}</v-btn
                  >
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
          </v-window-item>
        </v-window>
        </v-container>
        
     
    </v-card>
  </v-layout>
</template>

<style scoped>
h1 {
  margin-left: 5%;
  font-size: 30px;
}
</style>
