<script setup lang="ts">
import CartHeader from '@/components/headers/CartHeader.vue'
import { useCartStore } from '@/stores/cart';
import { useQrcodeStore } from '@/stores/qrcode';
import QrCodeDialog from './Dialog/QrCodeDialog.vue';
import { useCreditStore } from '@/stores/creditcard';
import CreaditDialog from './Dialog/CreaditDialog.vue';
import { useSuccessStore } from '@/stores/success';
const qrcodeStore = useQrcodeStore()
const creaditStore = useCreditStore()
const cartStore = useCartStore()
const successStore = useSuccessStore()
</script>

<template>
  <v-layout>
    <CreaditDialog/>
    <QrCodeDialog/>
    <CartHeader />
    <successDialog />
    <v-card
      style="width: 1980px; height: max-content; margin-top: 4%"
      class="d-flex align-center justify-center"
      flat
    >
      <v-container>
        <v-row>
          <v-col>
            <h1 class="d-flex align-center justify-center" >สรุปรายการสั่งซื้อ</h1>
            <v-divider :thickness="2" ></v-divider>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-table height="350px">
              <tbody>
                <tr v-for="(item, index) of cartStore.cartList" :key="index" >
                  <td style="font-size: 20px;">{{ item.ebook.name }}</td>
                  <td style="font-size: 20px;">{{ item.ebook.price }} บาท</td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
        <v-row
          ><v-divider :thickness="2" ></v-divider>
          <v-col>
            <h1>เลือกวิธีชำระเงิน</h1>
            <v-btn style="width: 105px; height: 150px; font-size: medium  " @click="qrcodeStore.dialog = true"
              ><img src="/public/qrcode.png" style="width: 110px; height: 150px"
            /></v-btn>
            <v-btn style="width: 105px; height: 150px; font-size: medium ; margin-left: 5%;" @click="creaditStore.dialog = true"
              ><img src="/public/creadit.png" style="width: 110px; height: 150px"
            /></v-btn>
            <v-btn style="width: 105px; height: 150px; font-size: medium ; margin-left: 5%;"
              ><img src="/public/point.png" style="width: 110px; height: 150px"
            /></v-btn>
          </v-col>
          <v-col style="margin-left: 40%;">
            <tr>
              <td style="font-size: 30px;">ราคาสุทธิ: {{ cartStore.sumPrice }} บาท</td>
              <v-divider :thickness="5" inset></v-divider>
            </tr>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              rounded="lg"
              style="
                border-radius: 0;
                margin: 50px;
                width: 150px;
                height: 50px;
                font-size: 20px;
                background-color: #a8a8a8;
              "
              to="/cartlist"
              >ย้อนกลับ</v-btn
            >
            <v-btn
              rounded="lg"
              style="border-radius: 0; width: 150px; height: 50px; font-size: 20px; margin-left: 75%;"
              color="green"
              @click="successStore.dialog = true; cartStore.openOrder(); cartStore.clearCarts()"
              >ชำระเงิน</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-layout>
</template>
