<script setup lang="ts">
import { useCustomerStore } from '@/stores/customer'
import { ref } from 'vue'
import { VForm } from 'vuetify/components';
import { useLoginStore } from '@/stores/login'
const loginStore = useLoginStore();
const emit = defineEmits<{(e:"login", email : string): void}>()
const customerStore = useCustomerStore()
const loginEmail = ref("");
const loginPassword = ref("");
const dialog2 = ref(false);
// const gender = ref('')
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const {valid} = await form.value!.validate();
  if(valid) {
    loginStore.login(loginEmail.value);
  }
}
const reset = () => {
  form.value?.reset()
  customerStore.dialogLogin = false;
}


// const signIn = () => {
//   customerStore.dialogLogin = true;
// }
</script>
<template>
  <div>
    <v-row justify="center">
      <v-dialog v-model="customerStore.dialogLogin" width="auto">
        <v-card width="900px" height="520px">
          <v-row>
            <v-col class="d-flex align-center justify-center">
              <v-img src="public/แม๋วว.png" width="380px" class="d-flex align-center justify-center"></v-img>
            </v-col>
            <v-col>
              <v-img src="/public/Ebook.png" width="200px" height="200px" class="justify-center mx-auto"></v-img>

              <v-card-title primary-title style="padding-top: 5px">
                <h2 style="text-align: center">เข้าสู่ระบบ</h2>
              </v-card-title>

              <v-form ref="form" v-model="valid">
                <v-text-field label="อีเมล" 
                v-model="loginEmail" 
                :rules="[
                  (v) => !!v || 'Email is required',
                  v => /.+@.+\..+/.test(v) || 'Invalid format'
                ]" required>
                </v-text-field>
                
                <v-text-field label="รหัสผ่าน" 
                type="password" 
                v-model="loginPassword" 
                :rules="[
                  (v) => !!v || 'Password is required'
                ]" required>
                </v-text-field>

              </v-form>
              <v-card-text class="d-flex align-center justify-center" style="height: 50px;">
                <v-btn style="font-size: 160%;" height="50px" width="150px" color="red-lighten-1" class="ma-2"
                  @click="reset">
                  ยกเลิก
                </v-btn>
                <v-btn style="font-size: 160%;" height="50px" width="150px" color="green-lighten-1" class="ma-2"
                  @click="login" >
                  ตกลง
                </v-btn>
              </v-card-text>

              <v-card-actions class="d-flex justify-end">
                <v-btn style="font-size: 100%;" color="black" variant="text" @click="dialog2 = true"> สมัครสมาชิก </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog2" width="auto">
        <v-card width="500px" height="950px">
          <v-toolbar dark color="white">
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn icon dark @click="dialog2 = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-title style="text-align: center">
            <span class="text-h5 ">สมัครสมาชิก</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field label="Email*" required></v-text-field>
                </v-col>


                <!-- <v-col cols="12" sm="6" >
                  <v-text-field label="Legal first name*" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-radio label="Bahamas, The" value="bahamas"></v-radio>
                </v-col> -->

                <!-- <v-col cols="12" sm="6" >
                  <v-text-field label="Legal first name*" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    label="Legal last name*"
                    hint="example of persistent helper text"
                    persistent-hint
                    required
                  ></v-text-field>
                </v-col> -->
                <v-col cols="12">
                  <v-text-field label="Password*" type="password" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Confirm Password*" type="password" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Name*" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="LastName*" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Brith Date" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Tel*" required></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-text class="d-flex align-center justify-center" style="height: 50px;">
            <v-spacer></v-spacer>
              <v-btn style="font-size: 160%;" height="52px" width="221px" color="green-lighten-1" class="ma-2"
                  @click="login" :to="{name:'home'}">
                  ยืนยันสมัคร
              </v-btn>
              <v-spacer></v-spacer>
          </v-card-text>
          <v-col></v-col>
        </v-card>
      </v-dialog>

    </v-row>
  </div>
</template>
<style scoped>
.dialog-bottom-transition-enter-active,
.dialog-bottom-transition-leave-active {
  transition: transform 0.2s ease-in-out;
}

.radio-column {
  display: inline-block;
  margin-right: 10px;
  /* Adjust as needed for spacing */
}
</style>
