<script setup lang="ts">
import CartHeader from '@/components/headers/CartHeader.vue'
import { useCartStore } from '@/stores/cart';
const cartStore = useCartStore()
</script>

<template>
  <v-layout>
    <CartHeader/>
    <v-card
      style="width: 1980px; height: max-content; margin-top: 5%"
      class="d-flex align-center justify-center"
      flat
    >
      <v-container>
        <v-row>
          <v-col>
            <h1>ตะกร้าสินค้า</h1>
            <v-divider :thickness="2" inset></v-divider>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-table id="cart" height="450px">
              <tbody>
                <tr v-for="(item, index) of cartStore.cartList" :key="index">
                  <td style="text-align: left; width: 156px">
                    <img :src="`http://localhost:3000/ebooks/image/${item.ebook.imageCover}`" style="margin-left: 100px" />
                  </td>
                  <td style="text-align: left; width: 800px">
                    {{ item.ebook.name }}
                  </td>
                  <td style="text-align: right; width: 500px">{{ item.ebook.price }} บาท</td>
                  <td style="text-align: right">
                    <v-btn
                      class="mr-5"
                      rounded="lg"
                      style="border-radius: 0"
                      color="error"
                      :icon="'mdi mdi-trash-can-outline'"
                      @click="cartStore.deleteEbook"
                    ></v-btn>
                  </td>
                </tr>
              </tbody>
            </v-table>
            <v-card id="card" style="margin-right: 25px;">
              <h1>ยอดชำระ {{ cartStore.sumPrice }} บาท</h1>
              <v-btn
                rounded="lg"
                style="border-radius: 0; width: 382px; height: 62px; font-size: 30px"
                color="green"
                :to="{ name: 'payment' }"
                ><h1>ชำระเงิน</h1></v-btn
              >
            </v-card>
          </v-col>
        </v-row>
        <v-divider :thickness="2" inset></v-divider>
        <v-btn
          rounded="lg"
          style="
            border-radius: 0;
            margin: 50px;
            width: 150px;
            height: 50px;
            font-size: 20px;
            background-color: #a8a8a8;
          "
          to="/"
          >ย้อนกลับ</v-btn
        >
      </v-container>
    </v-card>
  </v-layout>
</template>

<style scoped>
h1 {
  margin-left: 5%;
}

img {
  width: 156px;
  height: 220px;
}

#cart td {
  font-size: 30px;
}

#card {
  width: 536px;
  height: 150px;
  text-align: center;
  margin-left: 650px;
  margin-bottom: 50px;
  background-color: #d9d9d9;
}

#cart table {
  height: 300px;
}

#card h1 {
  color: black;
  font-size: 30px;
}
</style>
